extends layout
block title
  title=title

block content
  h1=message
  .quiz
    div(id="quizheader")
      span(id="heading") Quiz
      br
      span(id="quizround")
    div(id='startGame')
      select(id="gamemode")
        option(value="") Bitte auswählen...
        option(value="quickshot") Quickshot
        option(value="fiveSecs") Five Seconds to Save the World
        option(value="sixtySecs") 60 Seconds to One Minute
      button(type="submit" id="startGameButton") Quiz starten
      .info 
        span Spielinfo:
        span(id="gameInfo")
    table(class="gameTable")
      thead
        tr
          td Runde
          td Frage
          td Antwort
          td gegeben von
      tbody(class="gameTableBody")
    div(id='question')
    div(id='answer')
    div(id='hint')
    div(id='countdown')
    div(id='info')
    .answer
      input(type="text" id="answertext" name="answer" placeholder="Antwort" tabindex=1 autofocus)
      button(type="submit" id="answerbutton") 
        i(class="material-icons") send
  .chat
    .chatheader(class="noselect") Chat
      span(id="newmsgcounter" class="hidden noselect") 
      span(id="minimizeChat" class="noselect") _
    .chatbody
      div(class="messages" id="messages")
        if messages
          each msg in messages
            p(class="sender-"+msg.sender)
              img(src='/avatars/'+msg.sender+'.jpg' class="noselect")
              span(class="sender noselect")=msg.sender
              span(class="timestamp noselect") 
                if msg.timestamp.getHours()<10
                  |0
                |#{msg.timestamp.getHours()}:
                if msg.timestamp.getMinutes()<10
                  |0
                |#{msg.timestamp.getMinutes()}
                | - 
              span(class="message")=msg.msg
    .chatfooter
      input(type="text" id="chattext" name="chatmsg" placeholder="Chat" tabindex=2)
      button(type="submit" id="chatbutton")
        i(class="material-icons") send
  div(id="lobbyheader") Lobby
  div(id="lobby")
    table
      thead
        tr
          td Name
          td Punkte (g/s)
          td(class="hidden") ID
      tbody(id="lobbyTable")

block scripts
  script(type="text/javascript").
    var session =!{JSON.stringify(session)}
    var quiz =!{JSON.stringify(quiz)}
    var newMsgs = 0;
    var question="";
    var round=0;
    var gameLength=quiz.gameLength;
    var chatHidden = false;
    var socket = io();
    socket.on('connect',function() {
      // for each sender, get random color 
      //colorChat();
      scroll();
      console.log('connect!');
      socket.emit('register',{name:session.passport.user.name,pts:session.passport.user.pts});
    });
    // GAME
    socket.on('quiz_info',function(info){
      $('#info').append("span").html(info);
    });
    socket.on('quiz_q',function(data){
      question = data.q;
      round = data.count;
      $('#quizround').html(" Frage "+round+"/"+gameLength);
      $('#question').html("<span>"+question+"</span>");
    });
    socket.on('quiz_a',function(answer){
      console.log('quiz_a');
      $('.gameTableBody').append($("<tr>").append("<td>"+round+"</td>").append("<td>"+question+"</td>").append("<td>"+answer.answer+"</td>").append("<td class='answerPlayer"+round+"'>"+answer.player+"</td>"))
    });
    socket.on('quiz_a_next',function(answer){
      console.log('quiz_a_next',$('.answerPlayer'+round));
      $('.answerPlayer'+round).append(', '+answer.player);
    });
    socket.on('quiz_h',function(hint){
      $('#hint').append("<span>"+hint+"</span>");
    });
    socket.on('quiz_start',function() {
      console.log('start');
      //$('.gameTableBody').html("<tr><td>Runde</td><td>Frage</td><td>Antwort</td><td>gegeben von</td>");
      $('.gameTableBody').html('');
      $('#startGameButton').text('Quiz beenden');
      $('#startGameButton').off('click');
      $('#startGameButton').on('click',endGame);
    });
    socket.on('quiz_reset',function(){
      question = null;
      round = 0;
      console.log('reset');
      $('#question').html('');
      $('#startGameButton').text('Quiz starten');
      $('#startGameButton').off('click');
      $('#startGameButton').on('click',startGame);
    });

    // LOBBY
    socket.on('lobby_list',function(list){
      $('#lobbyTable').html('');
      console.log('lobbylist',list);
      if(navigator.userAgent.indexOf("Firefox") != -1 ){
        console.log('firefox');
      }
      if(navigator.userAgent.indexOf("MSIE") != -1  || (!!document.documentMode == true )){
        console.log('IE');
      }
      list.forEach(function(user){
        addUsertoLobby(user);
      })
      //- else {
      //-     for(user of list) {
      //-      addUsertoLobby(user);
      //-   }
      //- }
    });
    socket.on('lobby_add',function(user){
      console.log('lobby add',user);
      addUsertoLobby(user);
    });

    socket.on('user_update',function(user){      
      $('#pts'+user.name).html(user.pts.thisGame+'/'+user.pts.thisSession);
    });

    socket.on('start_denied',function(msg){
       $('#info').append("span").html(msg);
    });

    socket.on('quiz_countdown',function(time) {
        $('#countdown').html(time);
    });

    // CHAT
    socket.on('chat message',function(m){
      var message = $('<span>'+m.msg+'</span>').addClass("message").addClass("sender-"+m.sender);
      var sender = $('<span>'+m.sender+' </span>').addClass("sender").addClass("noselect");
      var h = new Date(m.timestamp).getHours();
      var min = new Date(m.timestamp).getMinutes();
      var time = (h<10?'0'+h:h)+':'+(min<10?'0'+min:min);
      var timestamp = $('<span>'+time+' - </span>').addClass("timestamp").addClass("noselect");
      var img = $('<img src="/avatars/'+m.sender+'.jpg">').addClass("noselect");
      $('#messages').append($("<p>").append(img).append(sender).append(timestamp).append(message));
      if(chatHidden) {
        if(newMsgs++<99)
          $('#newmsgcounter').html(newMsgs);
        else
          $('#newmsgcounter').html('++');
      }
      else scroll();
    });
    // click bindings
    $('#answertext').on('keypress',function(e){
      if(e.keyCode==13) {
        $('#answerbutton').click();
        return false;
      }
      else if(e.keyCode==9) {
        $('#chattext').focus();
        return false;
      }
    });
    $('#chattext').on('keypress',function(e){
      if(e.keyCode==13) {
        $('#chatbutton').click();
        return false;
      }
      else if(e.keyCode==9) {
        $('#answertext').focus();
        return false;
      }
    });
    $('#answerbutton').on('click',sendAnswer);
    $('#chatbutton').on('click',sendMsg);
    $('#minimizeChat').on('click',minimizeChat);
    $('#startGameButton').on('click',startGame);


    // functions
    function startGame() {
      var mode = $('#gamemode').val();
      console.log(session.passport.user);
      var opts={user:session.passport.user._id,mode:mode};
      socket.emit('start_request',opts);
    }

    function endGame() {
      console.log('end game!');
      socket.emit('quiz_reset');
    }

    function colorChat() {
      $('.sender-Admin').css("background-color","#f4a78e");
    }

    function addUsertoLobby(user) {
      var name = $("<td>").html(user.name);
      var pts = $("<td id='pts"+user.name+"'>").html(user.pts);
      var id = $("<td>").html(user.id).addClass("hidden");
      $('#lobbyTable').append($("<tr>").append(name).append(pts).append(id));
    }

    function scroll() {
      $('.chatbody').animate({ scrollTop:$('#messages').height() }, "fast");
      return false;
    }

    function minimizeChat() {
      $('.chatbody').toggleClass("hidden");
      $('.chatfooter').toggleClass("hidden");
      $('.chatheader').toggleClass("bottom-right");
      $('#newmsgcounter').toggleClass("hidden");
      chatHidden = !chatHidden;
      if(!chatHidden) {
        $('#newmsgcounter').html('');
        newMsgs = 0;
        scroll();
      }
    }

    function sendMsg() {
      var msg = $('#chattext').val();
      $('#chattext').val('');
      socket.emit('chat message',{msg:msg,sender:session.passport.user.name});
    }

    function sendAnswer() {
      var answer = $('#answertext').val();
      $('#answertext').val('');
      console.log(session.passport.user);
      console.log('sendAnswer',answer);
      socket.emit('answer',{answer:answer,userid:session.passport.user._id});
    }

